* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 14px;
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

time {
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  color: #797979;
}

#suppr-button {
  margin-left: 10px;
}

hr {
  border: 1px solid #f0f0f0;
}

.largebtn {
  background-color: #e50914;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  padding: 8px 20px 8px 20px;
  font-weight: 600;
  display: inline-block;
  border: 0;
}
.largebtn:hover {
  background-color: #bf0912;
}

.mediumbtn {
  height: 20px;
  font-size: 12px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  padding-bottom: 22px;

  background-color: #e50914;
  font-weight: 600;
  display: inline-block;
  border: 0;
  /* margin: 10px 6px 10px 6px; */
}

.mediumbtn:hover {
  background-color: #bf0912;
  /* margin: 10px 6px 10px 6px; */
}

.medium-cancel-btn {
  height: 20px;
  font-size: 12px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  padding-bottom: 22px;

  background-color: #9d9d9d;
  font-weight: 600;
  display: inline-block;
  border: 0;
  /* margin: 10px 6px 10px 6px; */
}

.medium-cancel-btn:hover {
  height: 20px;
  font-size: 12px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  padding-bottom: 22px;

  background-color: #9d9d9da1;
  font-weight: 600;
  display: inline-block;
  border: 0;
  /* margin: 10px 6px 10px 6px; */
}

input {
  border-radius: 30px;
  border: 1px solid #f0f0f0;
  padding: 6px;
}
