.actor {
  border: 1px solid #f0f0f0;
  width: 25%;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}

#img-actor {
  background-color: #f0f0f0;
  height: 100px;
  background-position: center;
  background-size: cover;
}
