.cardmovie {
  border: 1px solid #f0f0f0;
  width: 25%;
  display: inline-block;
  text-align: center;
}

figure {
  background-color: #f0f0f0;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.content {
  padding: 10px;
}

#categories {
  padding: 4px;
  border: 1px solid #f0f0f0;
}
