.cardmovie {
  border: 1px solid #f0f0f0;
  width: 25%;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}
#edit-btn {
  margin-right: 10px;
}
figure {
  background-color: #f0f0f0;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.content {
  padding: 12px;
  padding-bottom: 20px;
}
.content p {
  padding: 10px;
  margin-bottom: 10px;
}

#categories {
  padding: 4px;
  color: #e50914;
  font-weight: 500;
}
