* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 14px;
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: black;
}

.largebtn {
  background-color: #e50914;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  padding: 7px 20px 7px 20px;
  font-weight: 600;
  display: inline-block;
  border: 0;
}

.mediumbtn {
  height: 20px;
  font-size: 12px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  padding-bottom: 22px;

  background-color: #e50914;
  font-weight: 600;
  display: inline-block;
  border: 0;
  margin: 10px 6px 10px 6px;
}

.mediumbtn:hover {
  background-color: #bf0912;
  margin: 10px 6px 10px 6px;
}
