.content-movie {
  margin-top: 20px;
  width: 1200px;
  margin: auto;
}

.data-movie {
  margin-top: 30px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 3fr 1fr;
}

.films-similaire {
  margin-bottom: 30px;
}

section > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btns {
  display: inline-block;
}

.nav-buttn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#edit {
  margin-right: 10px;
}

.section-actor {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  text-align: left;
}

.img-actor {
  width: 80px;
  height: 80px;
  border-radius: 150px !important;
  object-fit: cover;
}
.content-actors {
  margin-left: 20px;
  display: grid;
  align-content: center;
}

.actor {
  display: flex;
}

#categories {
  padding-left: 0;
  margin-top: 10px;
}

/* .cardmovie {
  border: 1px solid #f0f0f0;
  width: 25%;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  margin-right: 20px;
} */

.poster-similar {
  height: 200px;
  background-size: cover;
  background-position: top;
}
.content-similar-movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1200px) {
  .data-movie {
    grid-template-columns: 1fr;
    padding-left: 20px;
    margin-right: 20px;
  }
  .content-movie {
    width: 100%;
  }
  .nav-buttn {
    padding-left: 20px;
    margin-right: 20px;
  }
  .films-similaire {
    padding-left: 20px;
    margin-right: 20px;
  }
  #figure {
    height: 400px !important;
  }
}

@media screen and (max-width: 600px) {
  .figure-movie {
    height: 400px !important;
  }
  .content-similar-movie {
    grid-template-columns: 1fr;
  }
}
