.form-new {
  border: none;
  width: 100%;
}

.input-form {
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  padding: 6px;
  width: 96%;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
}

textarea {
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  height: 150px;
  width: 100%;
}

.form-new > label {
  display: block;
  margin-top: 30px;
}
input::placeholder {
  color: grey;
}

.text-content {
  margin-top: 30px;
}

#submit-add {
  margin-top: 30px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}
.acteurs-form,
.similar-form {
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  gap: 20px;
}
.acteurs-form label {
  margin-bottom: 0;
}
div.acteurs-label > label,
div.similar-label > label {
  margin-right: 10px;
}
form > h3,
form > h3:nth-child(15) {
  margin-top: 30px;
}
hr {
  display: block;
}

.section-submit {
  display: flex;
  justify-content: right;
}
.content-new-movie {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .input-form {
    width: 96%;
  }
  .acteurs-form,
  .similar-form {
    align-items: end;
  }
}

@media screen and (max-width: 600px) {
  .input-form {
    width: 93%;
  }
  .acteurs-form,
  .similar-form {
    display: inline-flex;
    align-items: end;
    align-content: center;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .acteurs-form label,
  .similar-form label {
    width: 98%;
  }

  .similar-form label {
    width: 98%;
  }

  .acteurs-label,
  form,
  input {
    width: 100%;
  }

  .similar-form,
  form,
  input {
    width: 98%;
  }
  .similar-label {
    width: 99%;
  }
}
